<h1>About</h1>
<p>The purses are made from magazine paper, covered with tape, to give it a lacquered finish and also making the bag waterproof. It has the stylish, glossy leather look, but it is all eco-friendly. It’s secured with a zipper and it also has a silver chain handle.</p>
