<h1>Welcome to Abby Fashion UK</h1>
<h2>One of a kind handmade women handbags</h2>

<p>Welcome! The date and time is <%= Time.now %></p>
<% test_variable = 42 %>
<%= test_variable %>
<%= test_variable - 2 %>