
<header>
  <h1>Orders</h1>
</header>

<div class="row">
  <% @orders.each do |order| %>
    <div class="col-sm-2 col-md-4">
      <h2>Order # <%= order.id %></h2>
      <p>Product: <%= order.product.name %></p>
      <strong>Total: $<%= order.total %></strong>
    </div>
  <% end %>
 </div>