// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image {
  background-image: url(image_path('index_bg.jpg'));
  background-size: cover;
  height: 570px;
  margin-top: -20px;
   
  .heading {
    color: white;
    text-align: center;
    padding-top: 200px;
  }

  p {
    color: white;
    text-align: center;
    padding: 20px 60px;
  }
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  height: 80px;
  background-color: transparent;
  border: none;
}

.navbar-default {
  
  .navbar-brand {
    margin-top: 10px;
    color: #000;
        
      &:hover {
        color: #64A9D9;
        border: 1px solid #64A9D9;
      } 
  }
   
  .navbar-nav {
    
    > li {
      
      > a {
        color: #64A9D9;
        margin: 10px 5px 5px 5px;
        
      }
      > a:hover, > a:active, > a:focus {
        color: #000;
        border: 1px solid #64A9D9;
      }


    } //end li

    > .active {

      > a, > a:hover, > a:focus {
        background-color: transparent;
        color: #64A9D9;
      }

    }

  } //end .navbar-nav

  //Collapsed styles
  .navbar-toggle {
    border-color: #64A9D9;

      &:hover, &:focus {
        background-color: transparent;
      }



      .icon-bar {
        color: #64A9D9;
        background-color: #64A9D9;

      }
  }

  .navbar-collapse.collapse.in ul {
    background-color: transparent;
  }
    
} //end .navbar-default

.footer_bottom {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
}

footer {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 999;
  text-align: center;
  color: #fff;
  background-color:#C0C0C0;
  margin-top: 3px;
  font-size: 1em;
  font-family: "SF Pro Text", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}