// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  -webkit-transition-property: all;
  -webkit-transition-duration: .2s;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
  -moz-transition-property: all;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
}



body {
  display: block;
  background:#1b1b2b;
  padding:75px;
  text-align:center;
  font-family: 'Oswald', sans-serif;
  color: #999;
}

h1 {
  color:#c0c0c0;
  font-weight:100;
}

.image {
  background-image: url(image_path('index_bg.jpg'));
  background-size: cover;
  height: 570px;
  margin-top: -20px;
   
  .heading {
    color: white;
    text-align: center;
    padding-top: 200px;
  }

  p {
    color: white;
    text-align: center;
    padding: 20px 60px;
  }
}

.navbar-default {
  background-color: #1b1b2b;
  border: none;

  .navbar-brand {
    color: #777;
      &:hover {
        color: #fff;
      }
  }

  .navbar-nav {

    > li {
      
      > a {
        color:#999;
        background-color: #1b1b2b;
        padding:10px 20px;
        font-size:12px;
        text-decoration:none;
        letter-spacing:2px;
        text-transform:uppercase;
        
      }

      > a:hover, > a:active, > a:focus {
        border:none;
        background:rgba(0, 0, 0, 0.4);
        background:#fff;
        padding:20px 20px;
        color:#1b1b1b;
      }

    }
  }
}

/*Carousel*/

.carousel-inner {
  background-color: #000;
}

.carousel-caption {
  font-family: 'ITC Avant Garde Gothic W05 Bol', helvetica, arial, sans-serif;
  font-size: 70px;
  line-height: 85%;
  letter-spacing: -0.03em;
  font-kerning: normal !important;
  text-rendering: optimizeLegibility;
  text-align: left;
  text-transform: uppercase;
  right: 5%;
  left: 55%;
  top: 5%;
  text-shadow: none;
  display: inline;
}

.carousel-control {
  background-image: none !important;
  text-shadow: none;
  color: #fff !important;
  opacity: 100;
  width: 7%;
}

.carousel-control:hover, .carousel-control:focus {
  background-color: rgba(0,0,0,0);
  color: #fff;
  opacity: 100;
}

.carousel-inner > .item > a > img {
  width: 50%;
}

.carousel-indicators {
  bottom: -60px;
}

.carousel-indicators > li {
  border: 0;
  border-radius: 0;
  background-color: #999;
  width: 12px;
  height: 12px;
  margin: 0;
}

.carousel-indicators > .active {
  background-color: #000;
}

.img-fluid {
  width: 75%;
  height: 100%;
}


footer {
  font-size:12px;
  color:#fff;
  clear:both;
  display:block;
  letter-spacing:2px;
  border:1px solid #fff;
  padding:5px;
  text-decoration:none;
  width:100%;
  margin:auto;
  margin-top:400px;
}