<div class="col-sm-2 col-md-4">
  <h1><%= link_to product.name, product %></h1>
  <p><%= image_tag(product.image_url, :size => "260x260") %></p>
  <p><%= product.description %></p>
  <strong>$ <%= product.price %></strong>
</div><!-- /col -->