<div class="col-sm-2 col-md-4">
  <% cache product do %>
    <h1><%= link_to product.name, product %></h1>
    <p><%= link_to image_tag(product.image_url, :size => "260x260"), product %></p>
    <p><%= product.description %></p>
    <strong>$ <%= product.price %></strong>
  <% end %>
</div><!-- /col -->